@model List<string>
@{
    ViewData["Title"] = "Configuration Page";
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Element
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var element in @Model)
            {
                <tr>
                    @if (element.StartsWith("b"))
                    {
                        <td style="color: darkred">@element</td>
                    }
                    @if (element.StartsWith("P"))
                    {
                        <td>@element</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>